$family-sans-serif :"Nunito",
sans-serif;
$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

/*Globalstyles*/

html,
body {
    height: 100%;
    ;
}

html {
    background-image: url("./assets/bacckground_imge.jpg");
    background-size: cover;
    overflow-y: auto !important;
}